body {
    font-family: 'open sans', sans-serif;
    background-image: url(../imagens/fundo-site.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cabecalho .titulo {
    color: #f1ecff;
}

.cabecalho .pamonha {
    width: 100px;
    height: 100px;
}

.genshin-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0px;
}

.lista-personagens {
    width: 310px;
    height: 520px;
    position: relative;
}

.btn-seta {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: coral;
}
.card {
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;
}

.card.select {
    opacity: 1;
    z-index: 1;
}

.fundo1 {
    background: url(../imagens/fundo-card-2.jpg) no-repeat;
}

.fundo2 {
    background: url(../imagens/fundo-card-9.jpg) no-repeat;
}

.fundo3 {
    background: url(../imagens/fundo-card-3.jpg) no-repeat;
}

.card .info {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 20px;
}

.card .info .nome {
    color: #f1ecff;
    font-size: 22px;
}

.card .info .arma-ele {
    background-color: #333;
    color: #f1ecff;
    padding: 6px 10px;
    border-radius: 20px;
}

.card .container-img {
    text-align: center;
}

.card .img {
    height: 280px;
}

.card .desc {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.card .desc .titulo {
    background-color: #333;
    color: #f1ecff;
    font-size: 15px;
    padding: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .desc .texto {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    max-height: 115px;
    overflow-y: auto;
}
